::-webkit-scrollbar {
  width: 0.25rem;
  background-color: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background-color: #1150fe;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}


.bottom {
  bottom: 20px;
}
.right {
  right: 20px;
}
.left {
  left: 20px;
}
.top {
  top: 20px;
}
.shadow {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05), 0 4px 10px rgba(0, 0, 0, 0.09) !important;
}
